*{ 
    margin: 0;
    list-style: none;
    text-decoration: none;
}

article{
    background: #D5D5D5;
    
}

.header{
    background-image: url(./img/0.png);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    align-items: center;
    display: flex;
    
}

nav{
    height: 87px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.continut_header{
    margin-left: 50px;
    
}

header .show_menu{
        display: block;
        height: 310px;
        background: rgb(10, 10, 10);
        width: 160px;
        margin-top: 203px;        
}

.header .text_nav{
    align-items: center;
    display: flex;
}

.logo_nav{
    height: 85px;

}

.text_nav{
    color: white;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    margin: 33px 33px;
}

.text_nav:hover{
    color: rgb(240, 233, 223);
}

.title_header{
    font-family: 'Montagu Slab', serif;
    font-weight: 700;
    font-size: 64px;
    color: #ffffff;
    line-height: 60px;
}

.down{
    height: 66px;
    width: 207px;
    background-color: #42A5F5;
    border-radius: 33px;
    margin-left: 14px;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 21px;
    font-weight: 700;
    margin-top: 25px;
}


.img_header{
    float: right;
    margin-top: -333px;
    margin-right: 70px;
}

.head_block{
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
    font-weight: bold;


}

.conteiner_about{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box{
    height: 346px;
    width: 250px;
    background: #0F0F0F;
    box-shadow:  5px 5px 1px #0d0d0d, -5px -5px 1px #111111;
    border-radius: 46px;
    margin: 30px 38px;
    text-align: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.img_box_about{
    padding-bottom: 12px;
    height: 133px;       
}

.title_box{
    font-size: 30px;
    text-align: center;
}

.subtitle_box{
    font-size: 20px;
    width: 220px;
    margin-left: 15px;
}

.projects{
    text-align: center;
}

.project_container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}


.title_projects{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 28px;
}

.img_projects{
    height: 253px;
    margin: 10px 10px;
}

.more_projects{
    font-size: 27px;
    font-weight: bold;
    margin-top: 13px;
    padding-bottom: 47px;
}

.container_price{
    text-align: center;
}

.title_price{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.box_content_price{
    width: 288px;
    height: 391px;
    border-radius: 23px;
    background: #A6B5DD;
    box-shadow:  9px 9px 18px #76819d, -9px -9px 18px #d6e9ff;
    margin: 30px 20px;
    justify-content: center;
    display: flex;
}

.box_price{
    justify-content: center;
    align-items: center;
    display: flex;
}

.img_price{
    margin-top: 35px;

}

.title_price_box{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.subtitle_price{
    font-size: 20px;
    color: #000;
    width: 220px;
}

.more_price{
    color: #000;
    font-size: 20px;
    position: absolute;
    padding-top: 336px;
    margin-left: -200px;
    font-weight: bold;
}

.cart_price{
    position: absolute;
    padding-top: 336px;
}

.box_administration{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 270px;
    border-radius: 23px;
    background: #C4C4C4;
    box-shadow:  36px 36px 72px #a7a7a7, -36px -36px 72px #e1e1e1;
    margin: 30px 20px;

}

.title_administration{
    font-size: 48px;
    font-weight: bold;
}

.administration{
    text-align: center;
    display: block;
}

.content_administration{
    display: flex;
    justify-content: center;
}

.function_administration{
    font-family: 'Montserrat';
    font-size: 23px;
    font-weight: 700, bold;
}

.gmail_administration{
    font-size: 15px;
    font-weight: 700;
    line-height: 14.63px;
    color: #000;
    padding-top: 5px;
}

.content_contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_contact{
    font-size: 48px;
    font-weight: bold;
    margin-top: 45px;
}

.box_contact{
    margin: 30px 20px;
}

.contact_photo{
    max-height: 150px;
    border-radius: 100%;
}

.contact{
    text-align: center;
    display: block;
}

.logo_nav{
    float: left;
    display: flex;
    padding-top: 3px;
    padding-left: 33px;
}

nav.black{
    background-color: rgb(17, 17, 17);
    transition: 1s;
}

.menu_open{
    height: 55px;
    width: 55px;
    background: none;
    display: none;
    border: none;
}

.menu{
    height: 55px;
    width: 55px;
    display: none;
}

.more{
    display: none;
}

.ml{
    display: flex;
}

.more_block{
    display: none;
}

.block{
    display:flex;
} 

.more_project{
    margin-left: -38px;
}

.mp{
    background: none;
    border: none;
    margin-bottom: 33px;
}

.arrow{
    transition: 0.5s;
    transform: rotate(180deg);
}

.number{
    font-size: 33px;
    color: #000;
    font-weight: bold;
}

.phone_img{
    height: 33px;
}

@media screen and (max-width: 1024px) {
    .nav_bar.\.show_menu {
        padding-top: 1171px;
        display: block;
        width: 100%;
        background: #000;
        margin-left: -115px;
        justify-content: center;
        height: 1153px;
        transition: 2s;
    }

    .show_menu{
        margin-left: -154px;
    }

    .text_nav{
        font-size: 52px;
        align-items: center;
        display: flex;
    }
    .text_nav:hover{
        transition: 1s;
        color: rgb(180, 12, 12);
    }
	.box_price{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .content_administration{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .conteiner_about{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_contact{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box_content_price{
        width: 250px;
    }

    .contact_photo{
        height: 50px;
    }
    .header{
        align-items: center;
        display: flex;
    }
    .nav_bar{
        display: none;
    }
    .menu_open{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        margin-left: -15px;
    }   

    .projects{
        display: flex;
        flex-direction: column;
    }

    .continut_header{
        float: left;
    }
    .title_administration{
        font-size: 40px ;

    }
    .more_block{
        flex-direction: column;
    }

}

@media screen and (max-width: 425px) {
    .text_nav{
        font-size: 42px;
    }
    .menu_open {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        margin-left: -49px;
    } 

}

@media screen and (max-width: 375px) {
    .text_nav{
        font-size: 32px;
    }
    .menu_open {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        margin-left: -38px;
    }
}

@media screen and (max-width: 320px) {
    .gmail_administration{
        font-size: 13px;
    }
    .menu_open {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        margin-left: -37px;
    } 
}
